@font-face {
  font-family: 'm-light';
  src: url('../font/pingfang_ultralight.ttf') format('truetype');
}
/* @font-face {
  font-family: 'm-regular';
  src: url('../font/pingfang.ttf') format('truetype');
  font-weight: normal;
} */
/* @font-face {
  font-family: 'm-semibold';
  src: url('../font/pingfang_semibold.ttf') format('truetype');
} */
/* @font-face {
  font-family: 'PTSerifCaption';
  src: url('../font/PTSerifCaption.ttf') format('truetype');
} */

* {
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
html,
body,
#app,
.wrapper {
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-size: 116px;
}
/* .wrapper{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: scroll;
} */

body {
    font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
    /* font-family: 'm-regular'; */
    min-height: 100%;
    overflow: hidden;
    /* overflow-y: scroll; */
  }

a {
    text-decoration: none
}

.pcShow{
    display: block;
}
.mobileShow{
    display: none;
}


.move-enter-active,
.move-leave-active {
    transition: opacity .5s;
}

.move-enter,
.move-leave {
    opacity: 0;
}

.el-menu--popup{
  background-color: #fff !important;
}
.el-menu--popup .el-menu-item{
  background-color: #fff !important;
  color: #101c4f !important;
}

.el-message__icon{
  font-size: 35px;
}
.login .el-loading-mask{
  background-color: transparent !important;
}

.el-message.messageTip{
  z-index: 2100 !important;
}

.wrapper{
  width: 16rem;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

@media screen and (max-width:1800px){
html,
body,
#app,
.wrapper {
    font-size: 110px;
}
}

@media screen and (max-width:1600px){
html,
body,
#app,
.wrapper {
    font-size: 100px;
}
}

@media screen and (max-width:1260px){
html,
body,
#app,
.wrapper {
    font-size: 80px;
}
}

@media screen and (max-width:1024px){
html,
body,
#app,
.wrapper {
    font-size: 70px;
}
}

@media screen and (max-width:768px){
html,
body,
#app,
.wrapper {
    font-size: 55px;
}
}

@media screen and (max-width:640px){
  html,
  body,
  #app,
  .wrapper {
      font-size: 42px;
  }
}
